body, p, h1, h2, h3, h4, a {
  margin: 0px;
  font-family: "Roboto", Arial, sans-serif;
}

img {
  max-width: 100%;
}

.header-container {
  max-width: 1440px;
  padding: 1rem;
  margin: 20px auto;
}

.header-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.header-logo {
  width: 60px;
}

.header-input {
  display: flex;
  align-items: center;
  position: relative;
}

.header-all input {
  padding: 0.9rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  width: 25rem;
  margin-left: 2rem;
  border: 2px solid transparent;
  border-radius: 10px;
  border-color: #157AF0;
  color: #8f8d8d;
  outline: none;
  font-size: 14px;
  font-weight: bold;
}

.fa-magnifying-glass {
  position: absolute;
  right: 1rem;
  top: 0.7rem;
}

.header-all input:focus {
  outline: none;
  box-shadow: 2px 2px 3px #157AF0,
  -2px -2px 3px #157AF0;
}

.header-all-botao {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header-botao {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  padding-right: 3rem;
  border-radius: 10px;
  margin-left: 1rem;
  color: white;
  background: #157AF0;
  max-width: 100%;
  font-size: 16px;
  position: relative;
}

.header-botao img {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  margin-right: 10px;
}

.header-botao a {
  color: #fff;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}

.header-botao:hover {
  box-shadow: 1px 1px 3px #157AF0,
  -1px -1px 3px #157AF0;
}

.section {
  max-width: 960px;
  margin: 40px auto;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.section-controle {
  width: 43px;
}

.section-monitor {
  width: 70px;
}

.section-container img {
}

.section-container a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 20px;
}

.section-container span {
  display: flex;
  text-align: center;
}

.section-pc span {
  margin-left: 25px;
}

.section-plataforma span {
  margin-top: 4px;
}

.section-play span {
  margin-top: 4px;
}

.section-xbox span {
  margin-top: 4px;
}

.section-play {
  position: relative;
}

.section-xbox {
  position: relative;
}

.section-pc {
  position: relative;
}

.section-play span::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 65px;
  left: -65px;
  top: 13px;
  position: absolute;
  background-color: #157AF0;
}

.section-xbox span::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 67px;
  top: 14px;
  right: 115px;
  position: absolute;
  background-color: #157AF0;
}

.section-pc span::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 63px;
  top: 17px;
  right: 130px;
  position: absolute;
  background-color: #157AF0;
}

hr {
  margin: 0px;
  border: 3px solid #157AF0;
}

.banner-section {
  position: relative;
  max-width: 100%;
}

.banner-imagem img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 668px;
}

.banner-botao {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  background-color: #433f3f;
  padding: 1rem 3rem;
  font-size: 24px;
  color: #fff;
  position: absolute;
  text-transform: uppercase;
  bottom: 500px;
  left: 1400px;
}

.section-jogos {
  max-width: 1440px;
  padding: 1rem;
  margin: 50px auto;
}

.sections {
  background-color: #157AF0;
  padding: 0.5rem;
  color: #fff;
  text-transform: uppercase;
}

.lancamentos-titulo {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.lancamentos-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.lancamentos-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 20px;
}

.lancamentos-container a {
  text-decoration: none;
  color: #000;
  margin-left: 2px;
  margin-top: 5px;
}

.imgs {
  width: 270px;
  height: 270px;
  border-radius: 20px;
  border: none;
}

.imgs:hover {
  padding: 2px;
  border: 1px solid #157AF0;
  -webkit-filter: brightness(80%);
  transition: 0.1s;
}

.lancamentos-titulo {
  display: inline-block;
}

.footer-container {
  height: 204px;
  background-color: #157AF0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.footer h2 {
  color: #fff;
  font-size: 24px;
}

@media (max-width: 1700px) {
  .banner-botao {
    display: block;
    left: 1200px;
  }
}

@media (max-width: 1550px) {
  .banner-botao {
    display: block;
    left: 1100px;
  }
}

@media (max-width: 1400px) {
  .banner-botao {
    display: block;
    left: 900px;
  }
}

@media (max-width: 1200px) {
  .banner-botao {
    display: block;
    left: 800px;
  }
}

@media (max-width: 1100px) {
  .banner-botao {
    display: block;
    left: 700px;
  }
}

@media (max-width: 1000px) {
  .banner-botao {
    display: block;
    left: 630px;
  }
}

@media (max-width: 932px) {
  .header-input input {
    width: 20rem;
  }

  .banner-botao {
    display: block;
    left: 550px;
  }
  
  .section-play span::before {
    left: -60px;
  }

  .section-xbox span::before {
    right: 110px;
  }

  .section-pc span::before {
    right: 120px;
  }
}

@media (max-width: 853px) {
  .header-logo {
    margin-left: 10px;  
  }
  
  .header-input input {
    width: 15rem;
  }

  .section-play span::before {
    left: -45px;
  }

  .section-xbox span::before {
    right: 11px;
  }

  .banner-botao {
    display: block;
    left: 450px;
  }
}