.banner-section1 {
  height: 668px;
  position: relative;
  max-width: 100%;
}

.banner-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 100px;
  color: #fff;
  line-height: 1.5;
}

.banner-imagem1 img {
  opacity: 0.8;
  width: 100%;
  height: 668px;
}

.banner-info h1 {
  font-size: 3rem;
}

.banner-info span {
  border: 1px solid #fff;
  padding: 0 0.3rem;
}

.banner-info h2 {
  font-size: 32px;
  margin-top: 50px;
}

.banner-info p:nth-child(4) {
  margin-top: 50px;
  border: 1px solid white;
  width: 130px;
  font-size: 30px;
  font-weight: 700;
}

.banner-botao-adicionar {
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: var(--cor-principal);
  width: 200px;
  padding: 0.5rem;
  margin-top: 30px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

.banner-botao-adicionar:hover {
  border: 1px solid #fff;
}

.swiper-background {
  background: rgb(21,122,240);
  background: linear-gradient(9deg, rgba(21,122,240,1) 6%, rgba(8,37,97,0.6418942577030813) 41%);
}

.swiper-background h2 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 28px;
  color: #fff;
}

.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 589px;
  margin-top: 50px;
  display: block;
  border-radius: 20px;
  box-sizing: border-box;
}

.swiper-container1 {
  width: 80%;
  margin: 0 auto;
}

.swiper-text {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.swiper-text p {
  margin-top: 100px;
}

.swiper-jogos {
  display: flex;
  flex-direction: row;
}

.swiper-container1 img {
  width: 589px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.swiper-container1 h3 {
  margin-left: 13px;
  font-size: 23px;
  color: #fff;
}

.swiper-container1 p {
  margin-top: 15px;
  margin-left: 13px;
  font-size: 18px;
  color: #fff;
}

.swiper-slide img:hover, .swiper-container1 img:hover {
  padding: 0.1rem;
  border: 1px solid #fff;
  cursor: pointer;
}

.imggod1 {
  display: none;
}

@media (max-width: 1250px) {
  .swiper-container1 {
    display: flex;
    flex-direction: column;
  }

  .swiper-jogos {
    display: flex;
    flex-direction: column;
  }
  
  .swiper-jogos img {
    margin: 0 auto;
  }

  .swiper-container1 h3 {
    margin-top: 30px;
  }

  .swiper-container1 p {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 15px;
    color: #fff;
  }
}

@media (max-width: 1000px) {
  .banner-info {
    top: 50px;
    left: 30px;
    color: #fff;
    line-height: 1.5;
  }

  .banner-info h1 {
    font-size: 2.5rem;
  }
  
  .banner-info p:nth-child(2) {
    font-size: 10px;
  }
  
  .banner-info span {
    border: 1px solid #fff;
    padding: 0 0.3rem;
  }
  
  .banner-info h2 {
    font-size: 1.562rem;
    margin-top: 60px;
  }
  
  .banner-info p:nth-child(4) {
    margin-top: 30px;
    border: 1px solid #000;
    width: 88px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
  }

  .banner-botao-adicionar {
    width: 150px;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
  }
  
  .imggod {
    display: none;
  }

  .imggod1 {
    display: block;
  }
}


@media (max-width: 450px) {
  .banner-info h2 {
    font-size: 1.562rem;
    margin-top: 200px;
  }

  .banner-info p:nth-child(4) {
    border: 1px solid #000;
    width: 70px;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
  }
}