body, p, h1, h2, h3, h4, a {
  margin: 0px;
}

img {
  max-width: 100%;
}

/* HEADER */
.header-container {
  max-width: 1440px;
  padding: 1rem;
  margin: 1.25rem auto;
  position: relative;
}

.header-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.header-logo {
  width: 8rem;
}

.header-logo-meio {
  width: 3.75rem;
  display: none;
}

.header-input {
  display: flex;
  align-items: center;
  position: relative;
}

.text-input {
  margin-top: 10px;
  text-align: center;
  color: #fff;
}

.a-input {
  text-decoration: none;
}

.output {
  background: #15235a;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 43px;
  gap: 10px;
  width: 100%;
  border-radius: 20px;

  transform-origin: 0 0;
  transform: translateX(15px);

  transition-property: transform, opacity;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  z-index: 200;
}

.header-all input {
  padding: 0.9rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  width: 25rem;
  margin-left: 2rem;
  border: 2px solid transparent;
  border-radius: 10px;
  border-color: var(--cor-principal);
  color: var(--cor-barra-pesquisa);
  outline: none;
  font-size: 14px;
  font-weight: bold;
}

.fa-magnifying-glass {
  position: absolute;
  right: 1rem;
  top: 0.7rem;
}

.responsivo {
  display: none;
}

.header-all input:focus {
  outline: none;
  box-shadow: 2px 2px 3px var(--cor-principal),
  -2px -2px 3px var(--cor-principal);
}

.header-all-botao {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header-botao {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  padding-right: 3rem;
  border-radius: 10px;
  margin-left: 1rem;
  color: var(--cor-branco);
  background: var(--cor-principal);
  max-width: 100%;
  font-size: 16px;
  position: relative;
}

.header-botao img {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  margin-right: 10px;
}

.header-botao a {
  color: #fff;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}

.header-botao:hover {
  box-shadow: 1px 1px 3px var(--cor-principal),
  -1px -1px 3px var(--cor-principal);
}

/* SECTION PLATAFORMAS */

.section {
  max-width: 700px;
  margin: 40px auto;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.section-container a {
  text-decoration: none;
  color: var(--cor-preto);
  font-weight: 700;
  font-size: 20px;
}

.section-container span {
  display: flex;
  text-align: center;
}

.section-plataforma span {
  margin-top: 4px;
}

.section-play span {
  margin-top: 4px;
}

.section-xbox span {
  margin-top: 2px;
}

.section-xbox img {
  margin-top: 8px;
}

.section-pc span {
  margin-left: 30px;
}

.section-barra-play {
  width: 5px;
  height: 67px;
  background-color: var(--cor-principal); 
}

.section-barra-xbox {
  width: 5px;
  height: 67px;
  margin-right: 10px;
  background-color: var(--cor-principal); 
}

.section-barra-pc {
  width: 5px;
  height: 68px;
  margin-left: 10px;
  background-color: var(--cor-principal); 
}

hr {
  margin: 0px;
  border: 3px solid var(--cor-principal);
}

@media (max-width: 985px) {
  .header-input input {
    width: 20rem;
  }
}

@media (max-width: 900px) {
  .header-input input {
    width: 15rem;
  }

  .header-logo {
    width: 5rem;
  }
}

@media (max-width: 755px) {
  .header-container {
    max-width: 1440px;
    padding: 0rem;
    margin: 10px auto;
  }

  .header-all {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: nowrap;
  }

  .header-logo {
    display: none;
  }

  .header-logo-meio {
    display: block;
    width: 2.5rem;
  }
  
  .header-all-botao {
    margin-right: 20px;
    justify-content: end;
  }

  .img2 {
    display: none;
  }
  
  .header-botao {
    padding: 0.3rem 0.5rem;
  }
  
  .header-botao a {
    margin-right: 0px;
    text-align: center;
  }

  .header-botao img {
    display: none;  
  }

  .header-input input {
    width: 5rem;
    margin: 0px auto;
  }

  .fa-magnifying-glass {
    display: none;
  }

  .section {
    display: none;
  }
}

@media (max-width: 480px) {
  .header-input input {
    display: none;
  }
}

@media (max-width: 420px) {
  .header-logo-meio {
    margin-right: 0px;
  }

  .header-input input {
    display: none;
  }
}